
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: burlywood;
    display: flex;
    flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}
/* Giving footer and header the same color */
header, footer {
    background-color: #222;
}

/* Below is the header and everything inside it this includes
nav a */
header {
    padding: 10px 20px;
    text-align: center;
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px;
    transition: color 0.3s ease-in-out;
}

nav a:hover {
    color: #ff6347;
}
/* Below is image centering, background-color, etc*/
.container {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    flex: 1;
}
.center-text h1, .center-text p {
    margin: 0.5rem 0;
}
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
    transform: translate(-50%, -50%);
    padding: 0 1rem;
}
.image-wrapper {
    position: relative;
    text-align: center;
    margin-top: 50px; 
}
.image-wrapper img {
    width: 100%;
    height: auto;
    display: block;
}



/* this is the footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    
}
